<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
     <!--<add name="default" 
           providerName="System.Data.SqlClient"
           connectionString="Data Source=localhost; Initial Catalog=blog; Integrated Security=true" />-->
     <add name="default"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=PersonalLaptop\SQLEXPRESS; Initial Catalog=blog; Integrated Security=true" />
      <!--<add name="default"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=C:\code\github\tada.data\code_joys.tadu\tada.sdf; Initial Catalog=blog; Integrated Security=true" />-->
   </connectionStrings>
</configuration>