<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="default" 
           providerName="System.Data.SqlClient"
           connectionString="Data Source=localhost; Initial Catalog=blog; Integrated Security=true" />
   </connectionStrings>
</configuration>