<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
     <add name="default"
          providerName="System.Data.SqlServerCe.4.0"
          connectionString="Data Source=C:\code\github\tada.data\code_joys.tadu\database\tada.sdf;Password=Tada1!" />
     <!-- Tada1! C:\code\github\tada.data\code_joys.tadu\database\-->
   </connectionStrings>
</configuration>